body {
	background: #fcfcfc;
}
.card-header {
	background-color: #4664a6;
	border-radius: 5% 6% 0 0;
}

#connectanou {
	color: white;
	font-size: 2em;
}

#bouton {
	background-color: #4664a6;
	border-color: #4664a6;
}
#bouton:hover {
	background-color: #4664a6;
	opacity: 0.9;
	box-shadow: 1px 1px 1px #4664a6;
	transform: translateY(5%);
	animation: all 0.2s ease-in-out;
}

#lien {
	color: #4664a6;
}

.checkbox {
	color: #4664a6;
	background-color: #4664a6;
}
.divConnect {
	background: #ededed;
	border-radius: 15px;
	width: 50%;
}

.divCon {
	transform: translate(-2%);
}
